<header class="header-6">
    <div class="branding">
        <form class="search">
            <label for="search_input">
                <input size="50" [(ngModel)]="symbol" [ngModelOptions]="{standalone: true}" id="search_input" type="text" placeholder="Search for keywords...">
                <button class="btn" (click)="onSearchSymbol()">Search</button>
            </label>
        </form>
    </div>
    <div class="header-actions">
        <!--<h3 class="title">Welcome {{firstName}}</h3>-->
        <button class="btn btn-danger" (click)="onLogOut()">Log out</button>
    </div>
</header>
<br/>

<div class="container">
  <div class="equity-list">
    <div *ngIf="symbolResult">
      <p *ngFor="let res of symbolResult.bestMatches">{{res["2. name"]}} <br/> <b>Equity:</b> {{res["1. symbol"]}}</p>
    </div>
  </div>
  
  <div class="chart">
    <div class="row">
      <div class="col-md-6">
        <div style="display: grid;">
          <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" *ngIf="isGetStock" (click)="onSaveFav()">Save Fav</button>
    <button class="btn btn-primary" (click)="onGetStockInfo()">Get stock</button>
    <button class="btn btn-primary" (click)="onDeleteFav()">Delete favorite</button>
  </div>
  
  <div class="favorite-list">
    <div *ngIf="results">
      <h3>My favorite stocks</h3>
      <h6 *ngFor="let res of results">{{res["1"]["name"]}}</h6>
    </div>
  </div>
</div>